#!/bin/sh
# Usage: source ./env.sh
# Copy this file to env.sh and fill in your values

# First unset all environment variables
unset COGNITO_CLIENT_ID
unset COGNITO_CLIENT_SECRET
unset COGNITO_OAUTH_BASE_URL
unset WASTE_MOVEMENT_EXTERNAL_API_BASE_URL
unset AUTH_DISABLED
unset API_LOGGING
unset JIRA_BASE_URL
unset CDP_DEV_API_KEY
unset WASTE_MOVEMENT_EXTERNAL_API_TO_WASTE_MOVEMENT_BACKEND_PASSWORD
unset WASTE_ORGANISATION_BACKEND_TO_WASTE_MOVEMENT_BACKEND_PASSWORD

# Set values for an environment (e.g. local, dev, test, perf-test, ext-test, prod)
export COGNITO_CLIENT_ID=
export COGNITO_CLIENT_SECRET=
export COGNITO_OAUTH_BASE_URL=
export WASTE_MOVEMENT_EXTERNAL_API_BASE_URL=
export AUTH_DISABLED= # Used when running tests locally with authentication disabled - mainly for use with dockerised versions of the services. i.e local and github workflows
export API_LOGGING=true
export JIRA_BASE_URL=https://eaflood.atlassian.net/browse
export CDP_DEV_API_KEY= # CDP Dev API key: Used when calling ephemeral-protected APIs, obtain from https://portal.cdp-int.defra.cloud/user-profile#developer-api-key. Only Valid for 24 hours
export WASTE_MOVEMENT_EXTERNAL_API_TO_WASTE_MOVEMENT_BACKEND_PASSWORD=
export WASTE_ORGANISATION_BACKEND_TO_WASTE_MOVEMENT_BACKEND_PASSWORD=

# CDP ONLY VARIABLES
# export HTTP_PROXY=http://127.0.0.1:8888