#!/bin/sh
# Usage: source ./env.sh
# Copy this file to env.sh and fill in your values

# First unset all environment variables
unset COGNITO_CLIENT_ID
unset COGNITO_CLIENT_SECRET
unset COGNITO_OAUTH_BASE_URL
unset WASTE_MOVEMENT_EXTERNAL_API_BASE_URL
unset AUTH_DISABLED
unset API_LOGGING
unset JIRA_BASE_URL


# Set values for an environment (e.g. local, dev, test, perf-test, ext-test, prod)
export COGNITO_CLIENT_ID=
export COGNITO_CLIENT_SECRET=
export COGNITO_OAUTH_BASE_URL=
export WASTE_MOVEMENT_EXTERNAL_API_BASE_URL=
export AUTH_DISABLED=
export API_LOGGING=true
export JIRA_BASE_URL=https://eaflood.atlassian.net/browse

# CDP ONLY VARIABLES
# export HTTP_PROXY=http://127.0.0.1:8888